<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Document Similarity Checking</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet"  href="{{ url_for('static', filename='assets/css/fontawesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/tooplate-style.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/lightbox.css') }}"  />
  </head>
<!--
Tooplate 2116 Blugoon
https://www.tooplate.com/view/2116-blugoon
-->
  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{{ url_for('static', filename='assets/images/image2.jpg') }}" alt="Blugoon by Tooplate" /></a>
            </div>
            <div class="author-content">
              <h4>Document Similarity Checking</h4>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#">Home</a></li>
                <li><a href="{{ url_for('vl') }}">Login</a></li>
              </ul>
            </nav>
            
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
        <div class="top-header">
        	<img src="{{ url_for('static', filename='assets/images/image1.jpg') }}" alt="aerobic girls" />
        </div>
          <div class="section-heading">
          
            <h2>Document Similarity Checking</h2>
            <div class="line-dec"></div>
            <span>a similarity could be identified from a set of documents in the dataset.Document similarity (or
distance between documents) is a one of the central themes in Information Retrieval.On
other hand “similarity” can be used in context of duplicate detection. Document classification
refers to the way of storing similar documents together.</span>
          </div>
          <div class="right-image-post">
      </section>