<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Document Similarity Checking</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet"  href="{{ url_for('static', filename='assets/css/fontawesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/tooplate-style.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/lightbox.css') }}"  />
  </head>
<!--
Tooplate 2116 Blugoon
https://www.tooplate.com/view/2116-blugoon
-->
  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{{ url_for('static', filename='assets/images/image2.jpg') }}" alt="Blugoon by Tooplate" /></a>
            </div>
            <div class="author-content">
              <h4>Document Similarity Checking</h4>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
              </ul>
            </nav>

        </div>
      </div>
            <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h1>Document Similarity Checking</h1>
            <h2>Register</h2>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="{{ url_for('userdetails') }}" method="post">
                  <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="textfield" type="text" class="form-control"
                          id="textfield" placeholder="First Name" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="textfield2" type="text" class="form-control"
                          id="textfield2" placeholder="Last Name" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="textfield3" type="mail" class="form-control"
                          id="textfield3" placeholder="Email" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="textfield7" type="number" class="form-control"
                          id="textfield7" placeholder="Contact number" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="textfield4" type="text" class="form-control"
                          id="textfield4" placeholder="User Name" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="textfield5" type="password" class="form-control"
                          id="textfield5" placeholder="Password" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="textfield6" type="password" class="form-control"
                          id="textfield6" placeholder="Confirm Password" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Register
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>






    </div>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>